<div id="Sidebar">
  <a href="/">Home</a>
  <a href="/Books/Index">Books</a>
  <a href="/Readlists/Index">To Read Lists</a>
  <a href="/Authors/Index">Authors</a>
  <a href="/Genres/Index">Genres</a>
</div>